canvas {
    background-color: #1e293b;
    border: 2px solid white;
    margin-top: 20px;
}
.bar-container {
    width: 160px;
    height: 30px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.bar-block {
    width: 50px;
    height: 30px;
    border: 2px solid white;
}

.hp { background-color: red; }
.energy { background-color: orange; }
.mana { background-color: blue; }
.hunger { background-color: green; }

