
/* Add animation for popup */
@keyframes popupAnimationOpen {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popupAnimationClose {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.75);
        opacity: 0;
    }
}

@keyframes shadowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes shadowFadeOut {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

#popupContainer {
    animation: shadowFadeIn 0.3s ease-out;
}
#popupContainer.closing {
    animation: shadowFadeOut 0.3s ease-out;
}
#popupContainer > div {
    animation: popupAnimationOpen 0.3s ease-out;
}
#popupContainer.closing > div {
    animation: popupAnimationClose 0.3s ease-out;
}

canvas {
    background-color: #1e293b;
    border: 2px solid white;
    margin-top: 20px;
}

.bar-container {
    width: 250px;
    height: 30px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.bar-block {
    flex: 0 0 50px; /* Set a fixed size for the bar block */
    height: 30px;
    border: 2px solid white;
}

.username {
    font-family:monospace;
    font-weight: bold;
    font-size: xx-large;
}

#money {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.button {
    padding: 5px 25px;
    border: 5px solid grey;
    background-color: white;
    border-radius: 5px;
    color: #0f3582;
    font-weight: bold;
}

.name-box {
    font-family: monospace;
    padding: 5px 25px;
    background-color: white;
    color:black;
    opacity: 60%;
    border: 5px solid grey;
    border-radius: 5px;
}

.rounded-border{ border-radius: 10px; }
.hp { background-color: red; }
.energy { background-color: orange; }
.mana { background-color: blue; }
.hunger { background-color: green; }
.logo{ width: 210px; }