@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down{
    opacity: 0; /* Make sure the opacity is 0 before the transition for delays */
    animation: fadeDown 1s ease-in-out forwards; /* forwards so the thing doesnt return back to 0 opacity */
}
.fade-down-1{
    animation-delay: 0s;
}
.fade-down-2{
    animation-delay: 0.5s;
}
.fade-down-3{
    animation-delay: 1s;
}
.fade-down-4{
    animation-delay: 1.5s;
}

/* Announcement blocks */
.text-block2, .text-block3 {
    /* merge this shitty code into one */
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
}
.text-block{
    max-width: 750px;
    margin: auto;
    background-color: #4b4b4b;
    margin: 10px auto; /* Add auto to auto recenter*/
    padding: 20px;
    border: 2px solid #fd1d1d;
  } 
  .text-block2 {
    background-color: rgba(49, 44, 36, 255);
    border: 2px solid rgba(225, 169, 49, 25);
}
.text-block3{
    background-color: rgba(23, 121, 82, 0.56);
    border: 2px solid rgba(0, 255, 153, 0.56);
}

/* Modifications/addition to bootstrap stuff */
@media (max-width: 768px) { /* Mobile support */
    .navbar-brand {
        font-size: 1.5rem;
        padding: 0.75rem 1rem;
    }
    .navbar-nav .nav-link {
        font-size: 1.25rem;
        padding: 0.75rem 1rem;
    }
    .navbar-toggler {
        padding: 0.5rem 1rem;
    }

    #body{
        font-size: large;
    }

    .text-block, .text-block2, .text-block3 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.row{
    margin-bottom: 30px;
}

.project-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.project-box img {
    margin-right: 20px;
}
.project-box h2 {
    margin-bottom: 10px;
}
.project-box p {
    margin: 0; 
}

.project_div {
    @apply col-md-12 col-lg-5 mb-4 project-box text-block3 fade-down fade-down-4 d-flex align-items-center flex-column flex-md-row justify-content-center;
}


/* Image related stuff */
.pfp {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px auto;
    display: block;
    border: 5px solid;
}

.pfp.discord{
    border-color: #fd1d1d;
    margin-left: auto;
    margin-right: auto;
}

.pfp.telegram{
    border-color: #0099cc;
    margin-left: auto;
    margin-right: auto;
}

/* Contact animations */
.contact{
    transition: transform 0.5s;
}

.contact:hover{
    transform: scale(1.1);
}