/* Mobile Support */
@media (max-width: 677px) {
    .bar-container {
        height: 20px;
        width: 100%;
    }
    .bar-block {
        border-width: 1px;
    }
    .username{
        margin-top: -30px;
        font-size: 40px !important;
    }
    canvas {
        width: 90% !important;
    }
    .flex-col {
        flex-direction: column;
    }
    .gap-10, .gap-4{
        gap: 20px !important;
    }
}

/* Popup animation stuff */
@keyframes popupAnimationOpen {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popupAnimationClose {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.75);
        opacity: 0;
    }
}

@keyframes shadowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes shadowFadeOut {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

.jump {
    animation: jump 0.5s ease;
}

#popupContainer {
    animation: shadowFadeIn 0.3s ease-out;
}
#popupContainer.closing {
    animation: shadowFadeOut 0.3s ease-out;
}
#popupContainer > div {
    animation: popupAnimationOpen 0.3s ease-out;
}
#popupContainer.closing > div {
    animation: popupAnimationClose 0.3s ease-out;
}

/* General stuff */
body {
    overflow-x: hidden;
}

canvas {
    background-color: #1e293b;
    border: 2px solid white;
    margin-top: 20px;
}

.background-transition {
    transition: background-image 1s ease-in-out; /* Ensure transition is applied */
}
.avatar-pg {
    overflow-x: hidden;
    background-image: url('assets/backgrounds/Avatar.png');
    background-size: cover;
    background-position: center;
}

.index-pg {
    background-image: url('assets/backgrounds/Main.png');
    background-size: cover;
    background-position: center;
}

/* Avatar selections */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveClouds {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

.cloud {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    background: url('assets/backgrounds/cloud.png') repeat-x;
    background-size: auto 100%;
    filter: brightness(0) invert(1) opacity(0.2);
    animation: moveClouds 100s linear infinite;
}

.logo {
    animation: float 2s ease-in-out infinite;
}

.username {
    font-family:monospace;
    font-weight: bold;
    font-size: xx-large;
}

.arrow {
    width: 100%;
    margin: auto;
    transition: transform 0.3s ease; /* Smooth transition hehe */
}

.arrow:hover {
    transform: scale(1.2);
}

.avatar-selection {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 600px;
    min-width: 200px;
    min-height: 200px;
    object-fit: contain; /* hold the aspect ratio */
}

#greeting {
    font-family:monospace;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: /* Outline col */
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

/* index.html UI */
.interaction-box {
	position: relative;
    min-height: 150px;
}

.clock {
    text-shadow: /* Outline col */
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.controls {
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pfp-zoom {
    /* increase the size of the pfp */
    transform: scale(1.5); 
    transform-origin: center;
}

.bar-container {
    /* container for bar-block */
    min-width: 250px;
    height: 30px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.bar-block {
    /* bar blocks for the stats */
    height: 30px;
    border: 2px solid white;
}

.bar-block:last-child {
    margin-right: 0;
}

#money {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.button {
    padding: 5px 25px;
    border: 5px solid grey;
    background-color: white;
    border-radius: 5px;
    color: #0f3582;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for background-color and color */
}

.button:hover {
    background-color: #0f3582;
    color: white;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}

.name-box {
    font-family: monospace;
    padding: 5px 25px;
    background-color: white;
    color:black;
    opacity: 60%;
    border: 5px solid grey;
    border-radius: 5px;
}

.ctrl-btn {
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* One-liners */
.rounded-border{ border-radius: 10px; }
.hp { background-color: red; }
.energy { background-color: orange; }
.mana { background-color: blue; }
.hunger { background-color: green; }
.logo{ width: 210px; }