/* Mobile Support */
@media (max-width: 677px) {
    .bar-container {
        height: 20px;
        width: 100%;
    }
    .username{
        margin-top: -30px;
        font-size: 40px !important;
    }
    canvas {
        width: 90% !important;
    }
    .flex-col {
        flex-direction: column;
    }
    .gap-10, .gap-4{
        gap: 20px !important;
    }
}

@media (max-width: 1050px) {
    .controls{
        position: relative !important;
        bottom: 0 !important;
        right: 0 !important;
        margin: auto !important;
        margin-top: 10px !important;
    }
    
}

/* Popup animation stuff */
@keyframes popupAnimationOpen {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popupAnimationClose {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.75);
        opacity: 0;
    }
}

@keyframes shadowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes shadowFadeOut {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

.jump {
    animation: jump 0.5s ease;
}

#popupContainer {
    animation: shadowFadeIn 0.3s ease-out;
}
#popupContainer.closing {
    animation: shadowFadeOut 0.3s ease-out;
}
#popupContainer > div {
    animation: popupAnimationOpen 0.3s ease-out;
}
#popupContainer.closing > div {
    animation: popupAnimationClose 0.3s ease-out;
}

/* General stuff */
body {
    overflow-x: hidden;
}

canvas {
    background-color: #1e293b;
    border: 2px solid white;
    margin-top: 20px;
}

.background-transition {
    transition: background-image 1s ease-in-out; /* Ensure transition is applied */
}

.index-pg {
    background-image: url('../assets/backgrounds/Main.png');
    background-size: cover;
    background-position: center;
}

/* index.html UI */
.interaction-box {
    min-height: 150px;
    background-color: transparent;
}

.clock {
    text-shadow: /* Outline col */
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.pfp-zoom {
    /* increase the size of the pfp */
    transform: scale(1.5); 
    transform-origin: center;
}

.bar-container {
    /* container for bar-block */
    min-width: 250px;
    height: 30px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.bar-block {
    /* bar blocks for the stats */
    height: 30px;
    border: 2px solid white;
}

.bar-block:last-child {
    margin-right: 0;
}

#money {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.username {
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
}

.button:hover {
    background-color: #0f3582;
    color: white;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}

.ctrl-btn {
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    padding: 0;
}

/* Controls */
.controls {
    border-radius: 100%;
    position: relative;
    max-width: 150px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls .flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

#moveUp, #moveDown, #moveLeft, #moveRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-size: cover;
    background-position: center;
}


/* Tooltip */
#tooltip {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.2s;
    opacity: 0;
    border: 1px solid #fff;
}

#tooltip.visible {
    opacity: 1;
}

/* One-liners */
#moveUp {background-image: url('../assets/util/Up.png');}
#moveDown {background-image: url('../assets/util/Down.png');}
#moveLeft {background-image: url('../assets/util/Left.png');}
#moveRight {background-image: url('../assets/util/Right.png');}
.rounded-border{border-radius: 10px;}
.happiness {background-color: red;}
.energy {background-color: orange;}
.hygiene {background-color: blue;}
.hunger {background-color: green;}